.piano {
    background-color: brown;
    border: 1px solid black;
    padding: 20px;
    overflow: hidden;
}

.piano .key {
    z-index: 1;
    float: left;
    position: relative;
    width: 30px;
    height: 160px;
    background-color: white;
    color: black;

    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border: 1px solid black;
    border-left:0;
    font-size: 8px;
}

.piano .key:first-child {
    border-left: 1px solid black;
}

.piano .black + .key {
    margin-left: -9px;
}

.piano .black {
    z-index: 2;
    margin-left: -9px;
    width: 18px;
    height: 100px;
    background-color: black;
    color: white;
    border: 1px solid black;
}

.piano .key span {
    position: absolute;
    bottom: 0;
}
